.feed{
  margin: 0;
  background-color: #282c48;
  color: white;
  width: 60vw;
  min-height: 80vh;
  margin-left: 5vw;
  float: left;
  box-shadow: 2px 2px 2px 2px lightgrey;
}

.subredditName {
  width: 100vw;
  margin: 0;
  height: 10vh;
  justify-content: center;
  background-color: skyblue;
  font-size: 50px;
  color: white;
}
