.commentListContainer {
  position: fixed;
  z-index: 1;
  left: 5rem;
  top: 5rem;
  width: calc(100vw - 10rem);
  background-color: black;
  opacity: 0.01;
  max-height: 100%;
  overflow-y: auto;
}


.comment {
  background-color: skyblue;
  color: black;
  width: 100%;
  margin: 10px;
  text-align: left;
}
