.searchBar {
  display: inline;
  margin: auto;
}

.searchButton {
  margin-left: 2vw;
  height: 3vh;
  padding: 5px;
}

input {
  border-radius: 16px;
  padding: 5px;
  height: 3vh;
  width: 40vw;
}
