.post {
  background-color: lightgrey;
  min-width: 30vw;
  margin: 2vw;
  box-shadow: 2px 2px 2px 2px black;
  padding: 2rem;
}

.postScore {
  float: left;
  height: 100%;
}

img {
  max-width: 90%;
  max-height: 50vh;
}

.author {
  float: left;
  color: blue;

}

h3 {
  margin: 1.5rem;
}
